header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px rgba(0, 0, 0, 0.06);
    height: 108px;
    gap: 11px;
}

span {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: -5%;
    color: #141413;
}

img {
    width: 43px;
}